{% extends "layout.html" %}

{% block content %}

<div class="row">
  <div class="col-6 col-md-6 col-sm-6 col-xs-12">
    <form class="">
      <label for="">Input</label>
      <input type="text" name="" value="">
      <label for="">Date</label>
      <input type="date" name="" value="">
      <label for="">Textarea</label>
      <textarea name="name" rows="8" cols="80"></textarea>
    </form>
  </div>
  <div class="col-6 col-md-6 col-sm-6 col-xs-12">
    <form class="">
      <label for="">Time</label>
      <input type="time" name="" value="">
      <label for="">Select</label>
      <select class="" name="">
        <option value="">1</option>
        <option value="">2</option>
      </select>
      <button>Button 1</button>
      <button class="btn-red">btn-red</button>
      <button class="btn-blue">btn-blue</button>
      <button class="btn-orange">btn-orange</button>
      <button class="btn-green">btn-green</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-12 col-sm-12 col-xs-12">
    <input type="text" name="">
    <img src="http://via.placeholder.com/350x150" alt="">
  </div>
  <div class="col-6 col-md-6 col-sm-6 col-xs-12">
    <input type="text" name="">
  </div>
</div>

{% endblock %}
