{% extends "layout.html" %}

{% block content %}

<div class="row">
  <div class="col-6 col-md-6 col-xs-12">
    <form class="">
      <label for="">Input</label>
      <input type="text" name="" value="">
      <label for="">Date</label>
      <input type="date" name="" value="" placeholder="1/1/19">
      <label for="">Textarea</label>
      <textarea name="name" rows="8" cols="80"></textarea>
    </form>
  </div>
  <div class="col-6 col-md-6 col-xs-12">
    <form class="">
      <label for="">Time</label>
      <input type="time" name="" value="">
      <label for="">Select</label>
      <select class="" name="">
        <option value="">1</option>
        <option value="">2</option>
      </select>
      <button>Button 1</button>
      <button class="btn-red">btn-red</button>
      <button class="btn-blue">btn-blue</button>
      <button class="btn-orange">btn-orange</button>
      <button class="btn-green">btn-green</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <input type="text" name="">
    <img src="http://via.placeholder.com/350x150" alt="">
  </div>
  <div class="col-6 col-xs-12">
    <input type="text" name="">
  </div>
  <div class="col-6 col-xs-12">
    <input type="text" name="">
  </div>
</div>

<div class="row">
  <div class="col-4">
    <label>Tel</label>
    <input type="tel" name="" value="">
    <label>Number</label>
    <input type="number" name="" value="">
    <label>Email</label>
    <input type="email" name="" value="">
  </div>
  <div class="col-4">
    <label>Datetime-local</label>
    <input type="datetime-local" name="" value="">
    <label>Month</label>
    <input type="month" name="" value="">
    <label>Week</label>
    <input type="week" name="" value="">
  </div>
  <div class="col-4">
    <label>Slider</label>
    <input type="range" name="" value="">
    <label>URL</label>
    <input type="url" name="" value="">
    <label>Color</label>
    <input type="color" name="" value="#091842">
  </div>
</div>

<div class="row">
  <div class="col-6 col-md-6 col-sm-6">
    <div class="input-group search">
      <label>Search</label>
      <input type="search" name="">
      <button>Go</button>
    </div>
    <div class="input-group check serial">
      <label>Checkbox</label>
      <input type="checkbox" name="">
    </div>
    <div class="input-group check serial">
      <input type="checkbox" name="">
      <label>Checkbox</label>
    </div>
  </div>
  <div class="col-6 col-md-6 col-sm-6">
    <form>
      <div class="input-group serial">
        <input type="radio" id="genderChoice1" name="gender" value="male" checked>
        <label for="genderChoice1">Male</label>
      </div>

      <div class="input-group serial">
        <input type="radio" id="genderChoice2" name="gender" value="female">
        <label for="genderChoice2">Female</label>
      </div>

      <div class="input-group">
        <input type="radio" id="genderChoice3" name="gender" value="other">
        <label for="genderChoice3">Other</label>
      </div>

      <div class="input-group">
        <input type="radio" id="genderChoice4" name="gender" value="notSpecified">
        <label for="genderChoice4">Prefer not to specify</label>
      </div>
    </form>
  </div>
</div>

{% endblock %}
