{% extends "layout.html" %}

{% block content %}

<div class="banner">
  <img src="http://via.placeholder.com/1600x600" alt="">
</div>

<div class="row">
  <div class="col-12"><h2>Doin stuff</h2></div>
  <div class="col-4"><img src="http://via.placeholder.com/600x350" alt=""></div>
  <div class="col-4"><img src="http://via.placeholder.com/600x350" alt=""></div>
  <div class="col-4"><img src="http://via.placeholder.com/600x350" alt=""></div>
</div>

<div class="row">
  <div class="col-12">
    <h2>Portfolioooo</h2>
    <hr/>
  </div>
  <div class="col-4"><img src="http://via.placeholder.com/600x350" alt=""></div>
  <div class="col-4"><img src="http://via.placeholder.com/600x350" alt=""></div>
  <div class="col-4"><img src="http://via.placeholder.com/600x350" alt=""></div>
  <div class="col-4"><img src="http://via.placeholder.com/600x350" alt=""></div>
  <div class="col-4"><img src="http://via.placeholder.com/600x350" alt=""></div>
  <div class="col-4"><img src="http://via.placeholder.com/600x350" alt=""></div>
</div>

<div class="row">
  <div class="col-6">
    <h2>=o</h2>
  </div>
  <div class="col-6">
    <img src="http://via.placeholder.com/600x350" alt="">
  </div>
</div>

{% endblock %}
