{% extends "layout.html" %}

{% block content %}

<header>
  <a href="/formdemo">Form Demo</a>
</header>

<div class="banner">
  <img src="http://via.placeholder.com/350x150" alt="">
</div>

<main class="strap-container">
  <div class="row">
    <div><h2>Doin stuff</h2></div>
    <div class="col-4"><img src="http://via.placeholder.com/350x150" alt=""></div>
    <div class="col-4"><img src="http://via.placeholder.com/350x150" alt=""></div>
    <div class="col-4"><img src="http://via.placeholder.com/350x150" alt=""></div>
  </div>

  <div class="row">
    <div><h2>Portfolioooo</h2></div>
    <div class="col-4"><img src="http://via.placeholder.com/350x150" alt=""></div>
    <div class="col-4"><img src="http://via.placeholder.com/350x150" alt=""></div>
    <div class="col-4"><img src="http://via.placeholder.com/350x150" alt=""></div>
    <div class="col-4"><img src="http://via.placeholder.com/350x150" alt=""></div>
    <div class="col-4"><img src="http://via.placeholder.com/350x150" alt=""></div>
    <div class="col-4"><img src="http://via.placeholder.com/350x150" alt=""></div>
  </div>

  <div class="row">
    <div class="col-6">
      <h2>=o</h2>
    </div>
    <div class="col-6">
      <img src="http://via.placeholder.com/350x150" alt="">
    </div>
  </div>
</main>

<footer></footer>



<!-- <div class="row">
  <div class="col-4 col-md-6"><img src="http://via.placeholder.com/350x150" alt=""></div>
  <div class="col-4 col-md-6 col-offset-4"><img src="http://via.placeholder.com/350x150" alt=""></div>
  <div class="col-4 col-offset-8"><img src="http://via.placeholder.com/350x150" alt=""></div>
  <div class="col-8"><img src="http://via.placeholder.com/350x150" alt=""></div>
  <div class="col-12"><img src="http://via.placeholder.com/350x150" alt=""></div>
  <div class="col-2"><img src="http://via.placeholder.com/350x150" alt=""></div>
  <div class="col-2"><img src="http://via.placeholder.com/350x150" alt=""></div>
  <div class="col-2"><img src="http://via.placeholder.com/350x150" alt=""></div>
  <div class="col-2"><img src="http://via.placeholder.com/350x150" alt=""></div>
  <div class="col-2"><img src="http://via.placeholder.com/350x150" alt=""></div>
  <div class="col-2"><img src="http://via.placeholder.com/350x150" alt=""></div>
</div>

<div class="row">
  <div class="col-1"><img src="http://via.placeholder.com/350x150" alt=""></div>
  <div class="col-2 col-offset-1"><img src="http://via.placeholder.com/350x150" alt=""></div>
  <div class="col-5 col-offset-3"><img src="http://via.placeholder.com/350x150" alt=""></div>
</div> -->

{% endblock %}
