<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="test.css">
  </head>
  <body>

    <nav>
      <ul class="w-90">
        <li class="logo"><a href="/">GridIt!</a></li>
        <li><a href="/formdemo">Form Demo</a></li>
        <!-- <li><a href="">Form Demo</a></li> -->
      </ul>
    </nav>

    <main class="w-90">
      {% block content %}{% endblock %}
    </main>

    <footer>
      <p>Test site!</p>
    </footer>

  </body>
</html>
