@import "_colors.scss";
@import "_shared.scss";

/*
  to account for:
    remove flex from checkbox
    animate check
*/

@mixin make-radio {
  content: "";
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  margin-right: 0.75em;
  vertical-align: -0.5em;
  border-radius: 1em;
  border-width: 2px;
  border-style: solid;
  // transform: rotate(45deg);
  transition: background-color 0.5s;
}

$inputheight: 3em;

// reset
select, input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: solid 2px $inputborder;
  border-radius: 3px;
}

// forms
label, input, select, textarea {
  width: 100%;
  display: block;
  margin-bottom: 0.6em;
  font-size: 1em;
  padding: 0.7em;
}
input {
  background-color: $white;
  padding-top: 0.82em;
  height: $inputheight;
}

label { font-weight: bold; padding: 0.3em 0 0.3em 0; }
select {
  // need to remake the arrow
  background-color: $white;

  background-image:
    linear-gradient(135deg, $arrowcol 50%, transparent 50%),
    linear-gradient(45deg, transparent 50%, $arrowcol 50%),
    linear-gradient(to right, $arrowbg, $arrowbg);

  background-position:
    calc(100% - 0.8em) 1em,
    calc(100% - 1.5em) 1em,
    100% 0%;

  background-size:
    0.7em 0.8em,
    0.7em 0.7em,
    3em 3em;

  background-repeat: no-repeat;
}
.triangle {
  display: block;
  width: 10px;
  height: 10px;
  border-left: transparent;
  border-right: transparent;
  border-top: $inputborder;
  border-bottom: transparent;
  border-width: 10px;
  border-style: solid;
}

// input-group
.input-group {
  &.serial {
    display: inline-block;
  }

  & * {
    float: left;
    width: inherit;
    margin: auto 0;
    height: $inputheight;
  }

  & *:first-child {
    margin-right: 0.5em;
  }

  & label {
    padding-top: 1em;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.input-group.search {
  & input {
    margin-right: 0;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  & button {
    @include make-btn;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: $inputborder;
  }
}
.input-group.check {
  & input {
    margin-top: 0.5em;
  }
}

// checkbox
input[type="checkbox"] {
  margin: 0;
  padding: 0;
  width: 1.75em;
  height: 1.75em;
}
input[type="checkbox"]:after {
  background-color: $white;
  display: flex;
  flex-direction: column;
  color: $white;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
}
input[type="checkbox"]:checked:after {
  content: "✓";
  background-color: $darkgray;
}

// radios
input[type="radio"] { display: none; }
input[type="radio"] {
  & + label { padding-right: 1em; }
  & + label::before {
    @include make-radio;
    border-color: $darkgray;
  }
  &:checked + label::before {
    @include make-radio;
    border-color: $darkgray;
    background-color: $darkgray;
  }
}

// range slider
input[type=range] {
  border: 0;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.5em;
  width: 1.5em;
  border: solid 1px $rangecol;
  background-color: #fff;
  margin-top: -0.8em;
  // transform: rotate(45deg);
  border-radius: 1em;
  // box-shadow: 1px 1px 3px $gray;

}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.2em;
  border: solid 2px $rangecol;
  background-color: $rangecol;
  border-radius: 2px;
  // box-shadow: 1px 1px 3px $gray;
}

// color
input[type=color] { padding: 0.1em 0.2em; }

// buttons
button {
  @include make-btn;
  background-color: $white;
}
