$gutter: 20px;

@mixin make-btn {
  padding: 0.7em;
  font-size: 1em;
  background-color: $white;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  border: solid 2px $darkgray;
}
@mixin make-hover($color) {
  border-color: $color;
  color: $color;
  transition: background-color 0.3s, color 0.2s;
  &:hover {
    color: $white;
    background-color: $color;
  }
}

// shadow
select, input, textarea, button, [class*='btn-'] {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: solid 2px $darkgray;

  &:hover {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2), 0 5px 8px rgba(0, 0, 0, 0.18);
  }
}

.btn {
  @include make-btn;
  font-weight: bold;

  // &-red { border-color: $red; color: $red }
  &-blue { border-color: $blue; color: $blue; }
  &-orange { border-color: $orange; color: $orange; }
  &-green { border-color: $green; color: $green; }
  &-olive { border-color: $olive; color: $olive; }

  &-red { @include make-hover($red); }
  &-blue { @include make-hover($blue); }
  &-orange { @include make-hover($orange); }
  &-green { @include make-hover($green); }
  &-olive { @include make-hover($olive); }

  &-solid-blue { background-color: $blue; border-color: transparent; color: $white; }
  &-solid-orange { background-color: $orange; border-color: transparent; color: $white; }
  &-solid-olive { background-color: $olive; border-color: transparent; color: $white; }
  &-solid-red { background-color: $red; border-color: transparent; color: $white; }
}
