$gutter: 20px;

@mixin make-btn {
  padding: 0.7em;
  font-size: 1em;
  background-color: $white;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
  border: solid 1px $darkgray;
}
@mixin make-hover($color) {
  border-color: $color;
  color: $color;
  transition: background-color 0.3s, color 0.2s;
  &:hover {
    color: $white;
    background-color: $color;
  }
}

.btn {
  @include make-btn;
  font-weight: bold;

  // &-red { border-color: $red; color: $red }
  &-blue { border-color: $blue; color: $blue; }
  &-orange { border-color: $orange; color: $orange; }
  &-green { border-color: $green; color: $green; }
  &-olive { border-color: $olive; color: $olive; }

  &-red { @include make-hover($red); }
  &-blue { @include make-hover($blue); }
  &-orange { @include make-hover($orange); }
  &-green { @include make-hover($green); }
  &-olive { @include make-hover($olive); }
}
