$gutter: 20px;

@mixin make-btn {
  padding: 0.7em;
  font-size: 1em;
  background-color: $white;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
  border: solid 2px $gray;
}

.btn {
  @include make-btn;

  &-red { background-color: darken($red, 12%); color: $white; border-color: transparent; }
  &-blue { background-color: $blue; color: $white; border-color: transparent; }
  &-orange { background-color: $orange; color: $white; border-color: transparent; }
  &-green { background-color: $green; color: $white; border-color: transparent; }
}
